body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.auto-card {
    max-width: 750px;
    width: 100%;
}

/* Inputs and operator take full width of their column */
input.form-control, select.form-select {
    width: 100%;
}

/* Solve button styling */
button.btn-primary {
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ccc;
}

button.btn-primary:hover {
    background-color: #9e9d9d;
}

/* Result styling */
.result-text {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}
